@import "theme";
.home {
  padding: 3%;
  h2 {
    text-align: center;
    padding: 0 3%;
    color: $app-white;
  }
  .gallery-container {
    margin-bottom: 40px;
    width: 100%;
    padding: 1%;
  }
  img {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    overflow: hidden;
    max-height: 300px;
    min-height: 300px;
  }
}
