<navbar artist="homeCtrl.loggedArtist" app-title="[art-c]"> </navbar>

<main class="home">

  <div class="gallery-container clearfix">
    <h2> Featured Galleries </h2>
    <home-gallery-li ng-repeat="item in homeCtrl.galleries"
      gallery="item"
      ng-click="homeCtrl.currentGallery=item">
    </home-gallery-li>
  </div>

  <div class="artist-container clearfix">
    <h2> Featured Artists </h2>
      <artist-li ng-repeat="item in homeCtrl.artists"
        artist="item"
        ng-click="homeCtrl.currentArtist=item">
      </artist-li>
  </div>

</main>
