<navbar artist="homeCtrl.loggedArtist" app-title="[art-c]"> </navbar>

<main class="home">

  <h2> Featured Galleries </h2>
  <div class="gallery-container">
    <ul>
      <gallery-li ng-repeat="item in homeCtrl.galleries"
        gallery="item"
        ng-click="homeCtrl.currentGallery=item">
      </gallery-li>
    </ul>
  </div>

  <h2> Featured Artists </h2>
  <div class="artist-container">
    <ul>
      <artist-li ng-repeat="item in homeCtrl.artists"
        artist="item"
        ng-click="homeCtrl.currentArtist=item">
      </artist-li>
    </ul>
  </div>

</main>
