<navbar app-title="{ART-C}"> </navbar>

<main class="home">
  <h1> {{homeCtrl.title}} </h1>

  <nav class="gallery-container">
    <ul>
      <gallery-li ng-repeat="item in homeCtrl.galleries"
        gallery="item"
        ng-click="homeCtrl.currentGallery=item">
      </gallery-li>
    </ul>
  </nav>

  <nav class="artist-container">
    <ul>
      <artist-li ng-repeat="item in homeCtrl.artists"
        artist="item"
        ng-click="homeCtrl.currentArtist=item">
      </artist-li>
    </ul>
  </nav>

</main>
