@import 'theme';

// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Architects Daughter', cursive;
// font-family: 'Oswald', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Raleway Dots', cursive;

body {
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
  }

  h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5em;
  }

  .fonts {
    .title-font {
      font-family: 'Roboto', sans-serif;
      font-size: 3em;
    }
    .block-font {
      font-family:
    }
  }

}
