<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Style Guide</h1>
    <section>
      <h2>Colors</h2>
      <div class="primary-color"></div>
      <div class="secondary-color"></div>
      <div class="tertiary-color"></div>
    </section>
    <section class="fonts">
      <h2>Fonts</h2>
      <p class="title-font">Title Font : Raleway</p>
      <p class="block-font">Block Font : </p>
      <p class="block-font">Meh knausgaard hot chicken lomo VHS, banjo franzen poke stumptown vinyl mumblecore celiac. Trust fund neutra affogato drinking vinegar ramps, offal pickled bespoke chia kickstarter tote bag mixtape health goth aesthetic plaid. Ugh snackwave shoreditch disrupt cronut gentrify, photo booth waistcoat truffaut. Authentic pickled meditation distillery, blog squid air plant tumeric street art paleo semiotics four dollar toast umami. Hammock meh master cleanse, sriracha plaid taxidermy tacos craft beer ugh umami. Health goth pabst fap hexagon, four loko succulents lomo vinyl. Pour-over four loko microdosing post-ironic, roof party artisan fashion axe venmo ugh.
      <p class="accent-font">Accent Font : </p>
    </section>
    <section>
      <h2>Buttons</h2>

    </section>

    <h2>Forms</h2>
    <h2>Messages</h2>
  </body>
</html>
