@import "theme";

.listing-li {
  margin: 1.6% 5%;
  width: 90%;
  background-color: $app-black;
  border: 1px solid $app-black;
  color: $app-disabled;

  .listing-info{
    h3{
      color: $app-white;
      text-transform: uppercase;
      padding-bottom: 2px;
    }
    span{
      font-weight: bold;
    }
  }

  .edit-delete-container{
    span {
      margin: 1%;
      padding-left: 3%;
      font-size: 3em;
      display: inline-block;
      margin:10px 10px 0 0;
      padding:5px 10px;
    }
  }

  .portfolio-container{
    width: 100%;
    position: relative;
  }

  .wp-caption {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .wp-caption img {
    display: block;
    width: 100%;
  }
  .frame-square {
    border: 2px solid #131313;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 100%;
    height: 350px;
    margin-bottom: .3em;
  }

  .crop {
    height: 100%;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      min-width: 100%;
      min-height: 100%;
      margin: auto;
      position: absolute;
      top: -100%;
      right: -100%;
      bottom: -100%;
      left: -100%;
    }
  }
  p, h3 {
    margin: 2%;
  }

  .fa {
    color: $app-tertiary;
    transition: 1s;
  }
  .fa-trash:hover {
    color: $app-warn;
  }
  .fa-pencil:hover {
    color: $app-info;
  }
}

@media only screen and (min-width: 800px){
  .listing-li {
    width: 32%;
    margin: .666667%;
    .frame-square{
      height: 300px;
    }
  }
}
