<li class="listing-li">
  <div class="portfolio-container">

    <figure class="wp-caption">
      <img ng-src="{{listingLICtrl.listing.photoID.imageURI}}">

       <div class="row">
         <div class="col span-1-of-3 ">

           <div class="listing-info row">
             <h3><span>Title: </span> {{ listingLICtrl.listing.title }} </h3>
             <p><span>Description: </span> {{ listingLICtrl.listing.desc }} </p>
             <p><span>Category: </span> {{ listingLICtrl.listing.category }} </p>
             <p><span>Created on: </span> {{ listingLICtrl.listing.created }} </p>
           </div>
         <div class="row edit-delete-container"><!-- Edit/delete icon row-->

            <span
              ng-click="listingLICtrl.showEditListing = !listingLICtrl.showEditListing"
              class="fa fa-pencil fa-2x">
            </span>
            <span
              ng-click="listingLICtrl.deleteListing()"
              class="fa fa-trash fa-2x">
            </span>

        </div>

        <div class="row">
          <edit-listing on-success="listingLICtrl.handleEditListing()" ng-if="listingLICtrl.showEditListing" listing="listingLICtrl.listing"> </edit-listing>
        </div>
      </div> <!--end span-1-of-3-->

     <div class="col span-2-of-3">
       <listing-pic listing="listingLICtrl.listing"></listing-pic>
     </div>
   </div> <!--end row-->
 </figure>
</div> <!--end portfolio-container-->

</li>
