<section class="signup">
  <form
    ng-submit="signupCtrl.signup(signupCtrl.user)"
    novalidate>

    <input class="form-control"
    ng-minlength="6" required
    type="text" placeholder="Username" ng-model="signupCtrl.user.username">

    <input class="form-control"
    required type="email" placeholder="Email" ng-model="signupCtrl.user.email">

    <input class="form-control"
    required type="password" ng-minlength="8"
    placeholder="Password" ng-model="signupCtrl.user.password">

    <input type="submit" class="btn" value="Sign Up">
    <a ng-href="{{navbarCtrl.facebookAuthURL}}"> Facebook Sign-in </a>
    <a ng-href="{{navbarCtrl.googleAuthURL}}"> Google Sign-in </a>
  </form>
</section>
