<section class="signup">
  <form
    name="signupForm"
    ng-submit="signupCtrl.signup(signupCtrl.user)"
    novalidate>

    <input
      required
      type="text"
      name="username"
      class="form-control"
      placeholder="Username"
      ng-minlength="6"
      ng-class="{
        'has-error': signupForm.username.$invalid,
        'has-success': signupForm.username.$valid,
      }"
      required
      ng-model="signupCtrl.user.username">

    <input
      required
      type="email"
      name="email"
      class="form-control"
      placeholder="Email"
      ng-class="{
        'has-error': signupForm.email.$invalid,
        'has-success': signupForm.email.$valid,
      }"
      ng-model="signupCtrl.user.email">

    <input
      required
      type="password"
      name="password"
      class="form-control"
      placeholder="Password"
      ng-minlength="8"
      ng-class="{
        'has-error': signupForm.password.$invalid,
        'has-success': signupForm.password.$valid,
      }"
      ng-model="signupCtrl.user.password">

    <input type="submit" class="btn" value="Sign Up">

    <a class="btn btn-block btn-social btn-facebook" ng-href="{{signupCtrl.facebookAuthURL}}"> <span class="fa fa-facebook"></span> Sign in with Facebook </a>

    <a class="btn btn-block btn-social btn-google" ng-href="{{signupCtrl.googleAuthURL}}"> <span class="fa fa-google"></span> Sign in with Google </a>
  </form>
</section>
