@import "theme";

.home-gallery-li {
  width: 100%;
  margin: 1.6% 0;
  padding: 3px;
  background-color: $app-black;
  border: 1px solid $app-black;
  color: $app-white;
  text-transform: uppercase;
  text-align:center;

  .home-gallery-li-container{
    width: 100%;
    position: relative;

  }
  .wp-caption {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
  }
  .wp-caption img {
    display: block;
    width: 100%;
    height: 300px;
    height: 250px;
    object-fit: cover;
  }
}


@media only screen and (min-width: 800px){
.home-gallery-li {
  width: 32%;
  margin: .666667%;
  }
}
