@import "theme";

.home-gallery-li {
  margin: 1.6%;
  padding: 0;
  width: 20%;
  float: left;
  background-color: $app-black;
  border: 1px solid $app-black;
  color: $app-white;

  .home-gallery-li-container{
    width: 100%;
  }
  .wp-caption {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
  }
  .wp-caption img {
    display: block;
    width: 100%;
  }
  
  p {
    margin: 2%;
  }

}
