<section class="login-form">
  <form
    name="loginForm"
    ng-submit="loginCtrl.login()" novalidate>
    <div
      class="form-group">
      <input type="text"
        name="username"
        placeholder="Username"
        class="form-control"
        required ng-minlength="5"
        ng-model="loginCtrl.user.username">
    </div>

    <div
      class="form-group">
      <input type="password" name="password"
        ng-disabled="loginForm.username.$invalid"
        placeholder="Password"
        class="form-control has-error"
        required ng-minlength="8"
        ng-model="loginCtrl.user.password">
    </div>
    <button class="btn"> Login </button>
    <a ng-href="{{navbarCtrl.facebookAuthURL}}"> Facebook Login </a>
    <a ng-href="{{navbarCtrl.googleAuthURL}}"> Google Signin </a>
  </form>
</section>
