<section class="login-form">
  <form
    name="loginForm"
    ng-submit="loginCtrl.login()" novalidate>
    <div
      ng-class="{
        'has-error': loginForm.username.$invalid,
        'has-success': loginForm.username.$valid,
      }"
      class="form-group">
      <input type="text"
        name="username"
        placeholder="Username"
        class="form-control"
        required ng-minlength="5"
        ng-model="loginCtrl.user.username">
    </div>

    <div
      ng-class="{
        'has-error': loginForm.password.$invalid && loginForm.$submitted,
        'has-success': loginForm.password.$valid,
      }"
      class="form-group">
      <input type="password" name="password"
        ng-disabled="loginForm.username.$invalid"
        placeholder="Password"
        class="form-control has-error"
        required ng-minlength="8"
        ng-model="loginCtrl.user.password">
    </div>
    <button class="btn"> Login </button>
  </form>
</section>
