<navbar artist="artistCtrl.artist" app-title="[art-c]"></navbar>
<div class="profile-container">
  <div class="row">
  <div class="col span-1-of-3">
    <artist-pic artist="artistCtrl.artist" ng-if="artistCtrl.artist"></artist-pic>
  </div>

  <div class="col span-2-of-3">
    <artist-info artist="artistCtrl.artist" ng-if="artistCtrl.artist"></artist-info>
  </div>
</div>
</div>
<main class="artist-container">

  <!-- if there is no artist, show create artist form-->
  <div class="row">
    <create-artist submission="artistCtrl.artistFormSubmission(artistData)" ng-if="!artistCtrl.artist"></create-artist>
  </div>

    <div class="row">
      <create-gallery ng-if="artistCtrl.artist" artist="artistCtrl.artist"></create-gallery>
    </div>


  <div class="row gallery-container">
    <h2>My Galleries</h2><hr>
    <div class="artist-gallery-container">
        <gallery-li delete-check="artistCtrl.galleryDeleteCheck(gallery)" ng-click="artistCtrl.currentGallery = gallery" gallery="gallery" ng-repeat="gallery in artistCtrl.galleries">
        </gallery-li>
    </div>
  </div>

  <div class="row">
    <listing-container ng-if="artistCtrl.currentGallery" gallery="artistCtrl.currentGallery"></listing-container>
  </div>

</main>
