<navbar artist="artistCtrl.artist" app-title="[art-c]"></navbar>
<main class="artist-container">

  <!-- if there is no artist, show create artist form-->
  <div class="row">
    <create-artist submission="artistCtrl.artistFormSubmission(artistData)" ng-if="!artistCtrl.artist"></create-artist>
  </div>

  <div class="row profile-container">
    <div class="col span-1-of-3">
      <artist-pic artist="artistCtrl.artist" ng-if="artistCtrl.artist"></artist-pic>
    </div>

    <!-- if there is an artist created, show artist info-->
    <div class="col span-2-of-3">
      <artist-info artist="artistCtrl.artist" ng-if="artistCtrl.artist"></artist-info>
    </div>
  </div>

  <div class="row">
    <create-gallery artist="artistCtrl.artist"></create-gallery>
    <div class="artist-gallery-container">
      <ul>
        <gallery-li ng-click="artistCtrl.currentGallery = gallery" gallery="gallery" ng-repeat="gallery in artistCtrl.galleries">
        </gallery-li>
      </ul>
    </div>
    <!-- <edit-gallery></edit-gallery> -->
  </div>

  <div class="row">
    <listing-container ng-if="artistCtrl.currentGallery" gallery="artistCtrl.currentGallery"></listing-container>
  </div>

</main>
