<li class="gallery-li">
  <h2>{{ galleryLICtrl.gallery.name }} </h2>
  <p> {{ galleryLICtrl.gallery.desc }} </p>
  <p> {{ galleryLICtrl.gallery.category }} </p>
  <p> {{ galleryLICtrl.gallery.created }} </p>
  <span ng-click="galleryLICtrl.showEditGallery = !galleryLICtrl.showEditGallery"
    class="glypicon glyphicon-pencil"></span>
  <span ng-click="galleryLICtrl.deleteGallery()" class="glypicon glyphicon-trash"></span>
  <edit-gallery ng-if="galleryLICtrl.showEditGallery" gallery="galleryLICtrl.gallery"> </edit-gallery>
</li>
