<nav class="artist-navbar">
  <div class="container-fluid nav-container">

    <button
      ng-click=""
      class="btn artist-nav-btn">
      Home
    </button>

    <button
      ng-click="artistNavCtrl.editProfile()"
      class="btn artist-nav-btn">
      Profile
    </button>

    <button
      ng-click="artistNavCtrl.viewGallery()"
      class="btn artist-nav-btn">
      Edit Galleries
    </button>

    <button
      ng-click=""
      class="btn artist-nav-btn">
      Favorites
    </button>
  </div>

  <div class="search">
    </div>
</nav>
