<section class="create-artist-container">

<div class="artist-form">
  <form name="artistForm"
    class="form-inline"
    novalidate
    ng-hide="artistForm.$submitted"
    ng-submit="createArtistCtrl.createArtist()">

      <h2>Create your artist profile</h2>

        <div class="form-group">
          <input name="firstname"
            class="form-control"
            type="text"
            placeholder="First name"
            ng-model="createArtistCtrl.artist.firstname"
            required>
        </div>

        <div class="form-group">
          <input name="lastname"
            class="form-control"
            type="text"
            placeholder="Last name"
            ng-model="createArtistCtrl.artist.lastname"
            required>
        </div>

        <div class="form-group">
          <input name="phone"
            class="form-control"
            type="text"
            placeholder="Phone"
            ng-model="createArtistCtrl.artist.phone"
            required>
        </div>

        <div class="form-group">
          <input name="city"
            class="form-control"
            type="text"
            placeholder="City"
            ng-model="createArtistCtrl.artist.city"
            required>
        </div>

        <div class="form-group">
          <input name="zip"
            class="form-control"
            type="text"
            placeholder="Zip"
            ng-model="createArtistCtrl.artist.zip"
            required>
        </div>

    <button class="btn" type="submit" ng-click="createArtistCtrl.showEditArtist()"> Submit </button>

  </form>
</div>
  <artist-pic ng-show="createArtistCtrl.isVisible"></artist-pic>
  <artist-info artist="createArtistCtrl.artist" ng-show="createArtistCtrl.isVisible"></artist-info>
</section>
