<section class="create-artist-container">

  <form
    novalidate
    name="artistForm"
    ng-hide="artistForm.$valid && artistForm.$submitted"
    ng-submit="createArtistCtrl.createArtist()">

    <h2>Create your artist profile</h2>

    <label for="firstname"> First Name </label>
    <input
      required
      type="text"
      name="firstname"
      class="form-control"
      placeholder="First Name"
      uib-tooltip="First Name Required"
      tooltip-placement="bottom-right"
      tooltip-trigger="'focus'"
      ng-minlength="4"
      ng-class="{
        'has-error': artistForm.firstname.$invalid,
        'has-success': artistForm.firstname.$valid,
      }"
      ng-model="createArtistCtrl.artist.firstname">

    <label for="lastname"> Last Name </label>
    <input
      required
      type="text"
      name="lastname"
      class="form-control"
      placeholder="Last Name"
      uib-tooltip="Last Name Required"
      tooltip-placement="bottom-right"
      tooltip-trigger="'focus'"
      ng-minlength="4"
      ng-class="{
        'has-error': artistForm.lastname.$invalid,
        'has-success': artistForm.lastname.$valid,
      }"
      ng-model="createArtistCtrl.artist.lastname">

    <label for="phone"> Phone Number </label>
    <input
      required
      type="text"
      name="phone"
      class="form-control"
      placeholder="Phone Number"
      uib-tooltip="Phone Number Required"
      tooltip-placement="bottom-right"
      tooltip-trigger="'focus'"
      ng-minlength="7"
      ng-class="{
        'has-error': artistForm.phone.$invalid,
        'has-success': artistForm.phone.$valid,
      }"
      ng-model="createArtistCtrl.artist.phone">

    <label for="city"> City </label>
    <input
      required
      type="text"
      name="city"
      class="form-control"
      placeholder="City"
      uib-tooltip="City Required"
      tooltip-placement="bottom-right"
      tooltip-trigger="'focus'"
      ng-minlength="4"
      ng-class="{
        'has-error': artistForm.city.$invalid,
        'has-success': artistForm.city.$valid,
      }"
      ng-model="createArtistCtrl.artist.city">

    <label for="zip"> Zip Code </label>
    <input
      required
      type="text"
      name="zip"
      class="form-control"
      placeholder="Zip Code"
      uib-tooltip="Zip Code Required"
      tooltip-placement="bottom-right"
      tooltip-trigger="'focus'"
      ng-minlength="5"
      ng-class="{
        'has-error': artistForm.zip.$invalid,
        'has-success': artistForm.zip.$valid,
      }"
      ng-model="createArtistCtrl.artist.zip">

    <button class="btn"> Create Profile </button>

  </form>
</section>
