@import "theme";

.artist-li {
  padding: 3px;
  float: left;
  background-color: $app-black;
  border: 1px solid $app-black;
  color: $app-white;

  .portfolio-container{
      width: 100%;
      position: relative;
    }
  .wp-caption {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
  }
  .wp-caption img {
    display: block;
    width: 100%;
  }

}
