@import "theme";

.listing-pic {

  .container{
    position: relative;
    top: 0;
    right: 0;
    span {
      position: absolute;
      z-index:10;
      padding-left: 3%;
      font-size: 3em;
      display: inline-block;
      padding:5px 10px;
    }
  }

}
