<div class="listing-pic">

  <form
    class="container"
    novalidate>
    <img ng-src="{{listingPicCtrl.listing.photoID.imageURI || listingPicCtrl.defaultPic}}">
    <div ng-if="!listingPicCtrl.listing.photoID.imageURI">
      <span
        class="fa fa-upload"
        ngf-select
        ng-model="listingPicCtrl.pic.file">
      </span>
      <span
        class="fa fa-cloud-upload"
        ng-click="listingPicCtrl.uploadListingPic()"
        class="btn btn-upload">
      </span>
    </div>
  </form>
</div>
