<section class ="edit-gallery-container">

  <form
    novalidate
    name="editGalleryForm"
    class="edit-gallery"
    ng-submit="editGalleryCtrl.updateGallery()">

      <label for="name"> Name </label>
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Name"
        tooltip-placement="bottom-right"
        tooltip-trigger="'focus'"
        ng-minlength="4"
        ng-class="{
          'has-error': editGalleryForm.name.$invalid,
          'has-success': editGalleryForm.name.$valid,
        }"
        ng-model="editGalleryCtrl.gallery.name">

      <label for="desc"> Description </label>
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Description"
        tooltip-placement="bottom-right"
        tooltip-trigger="'focus'"
        ng-minlength="4"
        ng-class="{
          'has-error': editGalleryForm.desc.$invalid,
          'has-success': editGalleryForm.desc.$valid,
        }"
        ng-model="editGalleryCtrl.gallery.desc">

      <label for="category"> Category </label>
      <input
        type="text"
        name="category"
        class="form-control"
        placeholder="Category"
        tooltip-placement="bottom-right"
        tooltip-trigger="'focus'"
        ng-minlength="4"
        ng-class="{
          'has-error': editGalleryForm.category.$invalid,
          'has-success': editGalleryForm.category.$valid,
        }"
        ng-model="editGalleryCtrl.gallery.category">

    <button class="btn btn-primary"> Update </button>

  </form>
</section>
