<div class="gallery-pic">

  <form
    novalidate>
    <div ng-if="!galleryPicCtrl.gallery.photoID.imageURI">

      <span class="fa fa-upload fa-3x"
        ngf-select
        ng-model="galleryPicCtrl.pic.file">
      </span>

      <span
        class="fa fa-cloud-upload fa-3x"
        ng-click="galleryPicCtrl.uploadGalleryPic()"
        class="btn btn-upload">
      </spam>

    </div>

   <img ng-src="{{galleryPicCtrl.gallery.photoID.imageURI || galleryPicCtrl.defaultPic}}">

  </form>
</div>
