<div class="gallery-pic">

  <form
    novalidate>

    <div class="img-container">
      <img ng-src="{{galleryPicCtrl.gallery.photoID.imageURI || galleryPicCtrl.defaultPic}}">
    </div>

    <div ng-if="!galleryPicCtrl.gallery.photoID.imageURI" class="row">
      <button class="btn btn-upload glyphicon glyphicon-import"
        ngf-select
        ng-model="galleryPicCtrl.pic.file">
      </button>

      <button class="glyphicon glyphicon-upload" ng-click="galleryPicCtrl.uploadGalleryPic()" class="btn btn-upload"></button>
    </div>

  </form>
</div>
