@import "theme";
@import "vendor";

nav {
  .navbar {
    border:none;
    margin-bottom: 0 !important;
  }

  .btn-nav {
    display: none;
    float: right;
    font-size: 120%;
    padding: 1% 1.25%;
    margin: 2%;
    @media (min-width: 500px){
      display: inline-block;
    }
  }
  .btn-right {
    float: right;
    margin-right: 2%;
  }

  .navbar-brand {
    float: left;
    margin: 2%;
    font-size: 170%;
    text-decoration: none;

    a {
      color: $app-secondary;
    }
  }
}

.navbar-pic {
  width: 75px;
  height: 75px;
}
