@import "theme";
@import "vendor";

.btn-right:hover>.dropdown-menu {
  display: block;
}

.navbar {
  background-color: #212121;
  height: 60px;
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .nav-container{
    padding: 0 10px;

    // login and signup buttons
    .btn-nav {
      float: right;
      -webkit-border-radius: 16px;
      border-radius: 16px;
      font-size: 16px;
      padding: 4px 20px;
      margin: 14px 15px;
    }

    .btn-nav:hover {
      color: $app-white;
      background-color: $app-tertiary;
    }
    // profile image dropdown button
    .btn-right {
      float: right;
      margin-right: 0px;
      margin-top: 1px;
      background-color: tranparent;
      border-radius: 100%;
    }
    //logo
    .navbar-brand {
      float: left;
      margin: 2px 0px 2px 15px;
      font-size: 38px;
      vertical-align: center;
      display:inline-block;
      text-decoration: none;
      color: $app-white;
    }
    .navbar-brand:hover {
      color: $app-secondary;
    }

    .navbar-pic {
      width: 53px;
      height: 53px;
      border-radius: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {

  .navbar {
    .nav-container {
        .btn-nav {
        font-size: 12px;
        margin-left: 0;
        margin-right: 5px;
        margin-top: 17px;


      }
    }
}
}
