<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ navbarCtrl.appTitle }}</a>

    <a ng-href="{{navbarCtrl.facebookAuthURL}}"> Facebook Sign-in </a>
    <a ng-href="{{navbarCtrl.googleAuthURL}}"> Google Sign-in </a>

    <div ng-hide="navbarCtrl.hideLogoutButton">
      <button
        ng-click="navbarCtrl.logout()"
        class="btn btn-nav">
        Logout
      </button>
    </div>

    <div ng-hide="navbarCtrl.hideLoginSignupButtons">
      <button
        ng-click="navbarCtrl.open('lg')"
        class="btn btn-nav">
        Login
      </button>
    </div>

    <div ng-hide="navbarCtrl.hideLoginSignupButtons">
      <button
        ng-click="navbarCtrl.open('lg')"
        class="btn btn-nav">
        Signup
      </button>
    </div>

    </div>
  </div>
</nav>
