<div class="modal-container">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Login/Signup</h3>
  </div>

  <div class="modal-body" id="modal-body">
    <login></login>
    <signup></signup>
  </div>

  <div class="modal-footer">
    <!-- <button class="btn btn-primary" type="button" ng-click="modalCtrl.login()">Login</button>
    <button class="btn btn-primary" type="button" ng-click="modalCtrl.signup()">Signup</button> -->
    <button class="btn btn-primary" type="button" ng-click="modalCtrl.handleClose()">Cancel</button>
  </div>
</div>
