<main class="landing">

  <!-- <a ng-href="{{landingCtrl.facebookAuthURL}}"> Facebook Sign-in
  </a> -->

  
  <carousel></carousel>
<!--
  <div class="join-container"
    ng-if="landingCtrl.showSignup">
    <div class="join-inner-container">
      <signup></signup>
      <p> Already a member? </p>
        <a href="/#/landing"
          ng-click="landingCtrl.showSignup=false">
          Login
        </a>
    </div>
  </div>

  <div class="join-container"
    ng-if="!landingCtrl.showSignup">
    <div class="join-inner-container">
      <login> </login>
      <p> Not a member yet? </p>
        <a href="/#/landing"
          ng-click="landingCtrl.showSignup=true">
          Signup
        </a>
    </div>
  </div> -->

</main>
