<section class="artist-info-container">

  <h2><span>Name: </span>{{artistInfoCtrl.artist.firstname}} {{artistInfoCtrl.artist.lastname}} </h2>
  <h2><span>Email: </span>{{artistInfoCtrl.artist.email}} </h2>
  <h2><span>Phone: </span>{{artistInfoCtrl.artist.phone}} </h2>
  <h2><span>Zip: </span>{{artistInfoCtrl.artist.zip}} </h2>

  <span ng-click="artistInfoCtrl.showEditArtist = !artistInfoCtrl.showEditArtist" class="glyphicon glyphicon-pencil"></span>

  <edit-artist on-update="artistInfoCtrl.handleEditArtist()" ng-if="artistInfoCtrl.showEditArtist" artist="artistInfoCtrl.artist"></edit-artist>

</section>
