<section class="artist-info-container">
  <div class="row">

    <div class="col span-2-of-3">
      <h2><span>Name: </span>{{artistInfoCtrl.artist.firstname}} {{artistInfoCtrl.artist.lastname}} </h2>
      <h2><span>Email: </span>{{artistInfoCtrl.artist.email}} </h2>
      <h2><span>Phone: </span>{{artistInfoCtrl.artist.phone}} </h2>
      <h2><span>Zip: </span>{{artistInfoCtrl.artist.zip}} </h2>
    </div>

    <div class="col span-1-of-3">
      <div class="update-icon">
        <span ng-click="artistInfoCtrl.showEditArtist = !artistInfoCtrl.showEditArtist" class="glyphicon glyphicon-pencil"></span>
        <span ng-click="artistInfoCtrl.deleteArtist()" class="glyphicon glyphicon-trash"></span>
      </div>
    </div>

  </div>
<div class="row">
  <edit-artist on-update="artistInfoCtrl.handleEditArtist()" ng-if="artistInfoCtrl.showEditArtist" artist="artistInfoCtrl.artist"></edit-artist>
</div>
</section>
