<section class="artist-info-container">
  <h2> Name: {{artistInfoCtrl.artist.firstname}} {{artistInfoCtrl.artist.lastname}} </h2>
  <h2> Email: {{artistInfoCtrl.artist.email}} </h2>
  <h2> Phone: {{artistInfoCtrl.artist.phone}} </h2>
  <h2> Zip: {{artistInfoCtrl.artist.zip}} </h2>
  <span ng-click="artistInfoCtrl.showEditArtist = !artistInfoCtrl.showEditArtist" class="glyphicon glyphicon-pencil"></span>

  <edit-artist on-update="artistInfoCtrl.handleEditArtist()" ng-if="artistInfoCtrl.showEditArtist" artist="artistInfoCtrl.artist"></edit-artist>
</section>
